.sidebar {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 1px 0 0;
    -fx-padding: 20 10;
}
/* Sidebar */
.sidebar {
    -fx-background-color: #f5f5f5; /* Gris claro */
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 1px 0 0;
    -fx-padding: 20 10 20 10;
}

.sidebar-header {
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1px 0;
}


/* Botones del menú */
.menu-button {
    -fx-background-color: transparent;
    -fx-border-radius: 5;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 12 20;  /* Espaciado vertical/horizontal */
    -fx-content-display: left;
    -fx-graphic-text-gap: 15;
    -fx-min-width: 180px;  /* Ancho mínimo */
    -fx-pref-width: 180px; /* Ancho preferido */
    -fx-max-width: 180px;  /* Ancho máximo */
}

/* Contenedor del menú */
.menu-items {
    -fx-padding: 0 10;  /* Espaciado horizontal */
}

/* Efecto hover */
.menu-button:hover {
    -fx-background-color: #FF8C00 !important;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.menu-button:hover .icon {
    -fx-fill: white; /* Cambia a blanco al hacer hover */
}

/* Estilos para la interfaz de Materias */
.content-container {
    -fx-padding: 30;
}

.header-container {
    -fx-padding: 0 0 20 0;
}

.title-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.add-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-padding: 8 15;
    -fx-graphic-text-gap: 10;
}

.add-button:hover {
    -fx-background-color: #45a049;
}

.materias-table {
    -fx-table-cell-border-color: transparent;
    -fx-padding: 0;
}

.empty-message {
    -fx-font-size: 16px;
    -fx-text-fill: #666;
}

/* Botones de acción en la tabla */
.action-button {
    -fx-background-radius: 15;
    -fx-padding: 5;
    -fx-min-width: 30;
    -fx-min-height: 30;
}

.edit-button {
    -fx-background-color: #FFEB3B;
}

.delete-button {
    -fx-background-color: #FF5252;
}

.action-button:hover {
    -fx-background-color: white !important;
}

.action-button:hover .edit-button {
    -fx-fill: black;
}
.action-button:hover .delete-button {
    -fx-fill: black;
}

.search-button {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-background-radius: 5;
}

.download-button {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-padding: 8 15;
    -fx-graphic-text-gap: 10;
}

.download-button:hover {
    -fx-background-color: #2196F2;
}

.constancia-button {
    -fx-background-color: #FFD700; /* Amarillo */
    -fx-text-fill: #2c3e50;
    -fx-background-radius: 5;
    -fx-padding: 8 15;
    -fx-graphic-text-gap: 10;
}
.constancia-button:hover {
    -fx-background-color: #FFD699;
}

.notas-table .table-column {
    -fx-alignment: CENTER;
}

.input-field {
    -fx-pref-width: 250px;
}